Here is my individual work for Project Stage 1. For my individual work, I focused on ACS Social, Economic, and Housing. Within my Dataset, I will also be relating it to the Covid-19 Data for the state that I chose, which was Florida. 

My data will be able to help to see a contrast between the Social, Housing, and Economic status during this time of Covid-19. I predict that it will stay consistent/stable.

In [103]:
import pandas as pd 
import numpy as np 

# Create a dataframe from CSV file
file_path = r"ACSDP5Y2020.DP02-Data.csv"
data_df = pd.read_csv(file_path)

cases_file = r"covid_confirmed_usafacts.csv"
cases_df = pd.read_csv(cases_file) 
 
data_df.columns = data_df.iloc[0]
data_df = data_df.drop(0)
df = df.reset_index(drop=True) 

#Geography name will be changed in order to merge to CountyFIPS 
new_column_name = 'countyFIPS' 
data_df = data_df.rename(columns={'Geography': new_column_name}) 
data_df['countyFIPS'] = data_df['countyFIPS'].str[9:]  
data_df

C:\Users\jenny\AppData\Local\Temp\ipykernel_5836\1177074973.py:6: DtypeWarning: Columns (2,3,4,5,8,9,12,13,16,17,18,19,20,21,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,312,313,316,317,320,321,324,325,326,327,328,329,332,333,334,335,336,337,338,339,344,346,347,348,349,350,351,352,353,354,355,356,357,358,360,361,362,363,364,365,366,367,368,369,370,372,373,374,375,376,377,378,379,380,381,382,384,385,396,398,399,400,401,402,403,404,405,406,407,408,414,416,417,418,419,420,421,422,423,424,425,426,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,448,449,450,452,453,454,456,457,458,460,461,462,464,465,466,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,486,487,488,489,490,491,492,493,494,495,496,497,498,504,506,508,509,510,511,512,518,532,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,614,615,616,617) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df = pd.read_csv(file_path)

,countyFIPS,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household!!With children of the householder under 18 years,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household!!With children of the householder under 18 years,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Cohabiting couple household,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Cohabiting couple household,...,Percent Margin of Error!!ANCESTRY!!Total population!!Welsh,Percent!!ANCESTRY!!Total population!!West Indian (excluding Hispanic origin groups),Percent Margin of Error!!ANCESTRY!!Total population!!West Indian (excluding Hispanic origin groups),Percent!!COMPUTERS AND INTERNET USE!!Total households,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households,Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,NaN
1,01001,"Autauga County, Alabama",21559,366,11281,552,(X),(X),782,227,...,0.4,0.0,0.1,21559,(X),91.4,1.0,82.7,1.8,NaN
2,01003,"Baldwin County, Alabama",84047,1143,46277,1550,(X),(X),3366,613,...,0.1,0.1,0.1,84047,(X),91.8,0.8,85.1,1.2,NaN
3,01005,"Barbour County, Alabama",9322,338,3613,305,(X),(X),436,157,...,0.2,1.4,1.0,9322,(X),79.8,2.6,64.6,3.5,NaN
4,01007,"Bibb County, Alabama",7259,299,3597,382,(X),(X),144,70,...,1.2,0.0,0.2,7259,(X),83.2,3.8,76.1,3.4,NaN
5,01009,"Blount County, Alabama",21205,430,12053,675,(X),(X),677,260,...,0.1,0.0,0.1,21205,(X),85.0,1.7,79.6,2.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,72145,"Vega Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,72147,"Vieques Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,72149,"Villalba Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3220,72151,"Yabucoa Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3221,72153,"Yauco Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
import pandas as pd
cases_data = pd.read_csv('covid_confirmed_usafacts.csv') 
cases_df = pd.DataFrame(cases_data) 

cases_df[cases_df.loc[:, 'State'] == 'FL']

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
329,0,Statewide Unallocated,FL,12,0,0,0,0,0,0,...,20363,20363,20363,20363,20363,20363,20363,20363,20363,20363
330,12001,Alachua County,FL,12,0,0,0,0,0,0,...,90634,90634,90634,90634,90634,90634,90634,90634,90634,90634
331,12003,Baker County,FL,12,0,0,0,0,0,0,...,10787,10787,10787,10787,10787,10787,10787,10787,10787,10787
332,12005,Bay County,FL,12,0,0,0,0,0,0,...,55836,55836,55836,55836,55836,55836,55836,55836,55836,55836
333,12007,Bradford County,FL,12,0,0,0,0,0,0,...,9324,9324,9324,9324,9324,9324,9324,9324,9324,9324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,12125,Union County,FL,12,0,0,0,0,0,0,...,5140,5140,5140,5140,5140,5140,5140,5140,5140,5140
393,12127,Volusia County,FL,12,0,0,0,0,0,0,...,152326,152326,152326,152326,152326,152326,152326,152326,152326,152326
394,12129,Wakulla County,FL,12,0,0,0,0,0,0,...,12314,12314,12314,12314,12314,12314,12314,12314,12314,12314
395,12131,Walton County,FL,12,0,0,0,0,0,0,...,19888,19888,19888,19888,19888,19888,19888,19888,19888,19888
396,12133,Washington County,FL,12,0,0,0,0,0,0,...,7731,7731,7731,7731,7731,7731,7731,7731,7731,7731

As we can see, I chose to analyze the state of Florida. We can tell that it is stable since the "statewide unallocated" has the number 20363 repeated multiple times. As predicted, yes it was stable.

In [127]:
import pandas as pd 

data_df['countyFIPS'] = data_df['countyFIPS'].astype(int) 

covid_data = pd.read_csv('final_merged_data.csv') 
covid_data_df = pd.DataFrame(covid_data) 

merged_data = pd.merge(data_df, cases_df, on='countyFIPS', how='outer')
merged_data.head()

,countyFIPS,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household!!With children of the householder under 18 years,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household!!With children of the householder under 18 years,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Cohabiting couple household,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Cohabiting couple household,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3033.0,3033.0,3033.0,3033.0,3033.0,3033.0,3033.0,3033.0,3033.0,3033.0
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4261.0,4262.0,4262.0,4263.0,4265.0,4265.0,4265.0,4265.0,4265.0,4265.0